.nav_link{
    font-family: cursive;
    color: white;
    font-size: 35px;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    background-color: #07d1e0;
    height: 45px;
    width: 1000px;
    
}